In [1]:
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt
import bokeh as bk
from bokeh.plotting import figure, show
import datetime
import sqlite3

In [3]:
with open('signal_names.csv','r') as f:
    signal_list = [line.strip().split(',') for line in f.readlines()]
    

signals_df = pd.DataFrame([line[:2] + sorted(line[2:]) for line in signal_list[1:]], columns = signal_list[0])
signals_df['intersection'] = signals_df['cross_street_1'] + ' & ' + signals_df['cross_street_2']

In [3]:
signals_df = signals_df[signals_df['cross_street_1'] != 'no_int_found']

In [4]:
signals_df = signals_df[['intersection', 'lat', 'lon']].drop_duplicates('intersection').reset_index().drop('index',axis=1)
signals_df.head()

                  intersection         lat          lon
0  Central Park W & W 106th St  40.7980486  -73.9600434
1   Manhattan Ave & W 106th St   40.798645  -73.9614743
2    Columbus Ave & W 106th St  40.7992545   -73.962886
3   Amsterdam Ave & W 106th St  40.8004313  -73.9657046
4        Broadway & W 106th St  40.8014007  -73.9679942

In [12]:
from shapely.geometry import Point
from shapely.geometry import MultiLineString
from shapely.wkt import loads


signals_df['coord'] = list(zip(*(signals_df['lon'].astype(float),signals_df['lat'].astype(float))))
signals_df['loc'] = signals_df['coord'].map(lambda x: Point(x))

In [10]:
hump_df = pd.read_csv('dot_VZV_Speed_Humps_20190604.csv')
hump_df['date'] = hump_df['date_insta'].map(lambda x: datetime.datetime.strptime(x[:10],'%m/%d/%Y'))
#hump_df.groupby('date').count()

In [13]:
hump_df['lines'] = hump_df['the_geom'].map(lambda x: loads(x))

In [16]:
%load_ext sql
%sql sqlite:///safe_cycle_db.sqlite

'Connected: @safe_cycle_db.sqlite'

In [5]:
int_list = list(zip(signals_df.index, signals_df['intersection'], signals_df['lat'].astype(float), signals_df['lon'].astype(float)))

In [8]:
%%sql 

DROP TABLE IF EXISTS intersections;

CREATE TABLE intersections (
    id INTEGER PRIMARY KEY NOT NULL, 
    name MEDIUMTEXT, 
    lat FLOAT, 
    lon FLOAT);

 * sqlite:///safe_cycle_db.sqlite
Done.
Done.

[]

In [17]:
%%sql

SELECT * FROM intersections

 * sqlite:///safe_cycle_db.sqlite
Done.

[(0, 'Central Park W & W 106th St', 40.7980486, -73.9600434),
 (1, 'Manhattan Ave & W 106th St', 40.798645, -73.9614743),
 (2, 'Columbus Ave & W 106th St', 40.7992545, -73.962886),
 (3, 'Amsterdam Ave & W 106th St', 40.8004313, -73.9657046),
 (4, 'Broadway & W 106th St', 40.8014007, -73.9679942),
 (5, 'Duke Ellington Blvd & W End Ave', 40.8016434, -73.9685615),
 (6, 'Columbus Ave & W 80th St', 40.7826312, -73.9749879),
 (7, 'Amsterdam Ave & W 80th St', 40.783828, -73.9778254),
 (8, 'Broadway & W 80th St', 40.7845691, -73.9795827),
 (9, 'W 80th St & W End Ave', 40.7850311, -73.9806779),
 (10, 'Broadway & Hillside Ave', 40.8593027, -73.9313326),
 (11, 'Central Park W & W 84th St', 40.7839788, -73.9703286),
 (12, 'Columbus Ave & W 84th St', 40.7851655, -73.9731396),
 (13, 'Amsterdam Ave & W 84th St', 40.7863627, -73.9759753),
 (14, 'Broadway & W 84th St', 40.7870877, -73.9776927),
 (15, 'W 84th St & W End Ave', 40.7875673, -73.9788289),
 (16, 'Edgar Allen Poe St & Riverside Dr', 40.7885135, -73.9810702),
 (17, 'Broadway & la Salle St', 40.8138385, -73.9598159),
 (18, '5th Ave & E 9th St', 40.7328593, -73.9959038),
 (19, 'Ave of the Americas & W 9th St', 40.7341463, -73.9991816),
 (20, 'Old Slip & Water St', 40.704211, -74.008789),
 (21, 'Old Slip & South St', 40.7033242, -74.0077787),
 (22, 'Central Park W & W 61st St', 40.7692746, -73.9810292),
 (23, 'Broadway & W 61st St', 40.7697921, -73.9822548),
 (24, 'Columbus Ave & W 61st St', 40.770478, -73.9838503),
 (25, 'Amsterdam Ave & W 61st St', 40.7716657, -73.9866932),
 (26, 'W 61st St & W End Ave', 40.7728658, -73.9895487),
 (27, 'Central Park W & W 89th St', 40.7872303, -73.9679486),
 (28, 'Columbus Ave & W 89th St', 40.7884217, -73.9707647),
 (29, 'Amsterdam Ave & W 89th St', 40.7896131, -73.9736025),
 (30, 'Broadway & W 89th St', 40.7902552, -73.9751319),
 (31, 'W 89th St & W End Ave', 40.7908141, -73.976449),
 (32, 'Riverside Dr & W 89th St', 40.7917606, -73.9786893),
 (33, 'Liberty St & S End Ave', 40.7115654, -74.0158085),
 (34, 'Liberty St & West St', 40.7110102, -74.0143968),
 (35, 'Liberty St & Trinity Pl', 40.709687, -74.011674),
 (36, 'Broadway & Liberty St', 40.709154, -74.010542),
 (37, '11th Ave & W 22nd St', 40.7482137, -74.0074126),
 (38, 'Dover St & Pearl St', 40.7094916, -74.001657),
 (39, 'Riverside Dr & W 79th St', 40.7849758, -73.9826602),
 (40, 'E 37th St & I- 495', 40.7456771, -73.9721195),
 (41, '2nd Ave & E 36th St', 40.7460815, -73.9749232),
 (42, 'E Houston St & F D R Dr', 40.7188498, -73.9747446),
 (43, 'Amsterdam Ave & W 175th St', 40.8442431, -73.9337066),
 (44, 'Amsterdam Ave & W 178th St', 40.8461493, -73.9323138),
 (45, '2nd Ave & Dr Martin Luther King Jr Blvd', 40.8027007, -73.9334044),
 (46, 'F D R Dr & Grand St', 40.71325, -73.977586),
 (47, 'Varick St & Watts St', 40.7237914, -74.006113),
 (48, '2nd Ave & E 57th St', 40.7589757, -73.964501),
 (49, '2nd Ave & E 58th St', 40.7596362, -73.9639971),
 (50, '7th Ave & W 59 St', 40.766876, -73.979076),
 (51, '2nd Ave & E 62nd St', 40.7620792, -73.9619892),
 (52, '10th Ave & W 39th St', 40.7577413, -73.9968472),
 (53, 'E 96th St & F D R Dr', 40.7828662, -73.9437553),
 (54, 'Riverside Dr & W 72nd St', 40.7803049, -73.9856663),
 (55, '2nd Ave & E 59th St', 40.760618, -73.9643488),
 (56, '12th Ave & Joe Dimaggio Hwy', 40.769378, -73.9950384),
 (57, 'Central Park W & W 77th St', 40.779478, -73.973571),
 (58, 'Hudson St & Laight St', 40.7219848, -74.0082309),
 (59, 'Central Park W & W 67th St', 40.773031, -73.978281),
 (60, 'Central Park W & W 96th St', 40.7916741, -73.9647071),
 (61, 'Beach St & Hudson St', 40.7206456, -74.008466),
 (62, 'Canal St & Hudson St', 40.7237578, -74.0079297),
 (63, 'E 60th St & York Ave', 40.7593048, -73.9592537),
 (64, 'Marginal St & W 125th St', 40.818704, -73.961038),
 (65, 'Dyer Ave & W 40th St', 40.7576611, -73.9948152),
 (66, 'Central Park W & W 85th St', 40.7846108, -73.9698592),
 (67, 'Broome St & Varick St', 40.7244132, -74.0059302),
 (68, '12th Ave & St Clair Pl', 40.8176383, -73.9609797),
 (69, '5th Ave & E 102nd St', 40.791722, -73.952984),
 (70, 'Central Park W & W 97th St', 40.7923849, -73.9641866),
 (71, 'Riverside Dr & W 95th St', 40.7955204, -73.9759847),
 (72, 'Central Park W & W 100th St', 40.7941936, -73.9628635),
 (73, 'Frederick Douglass Blvd & Harlem River Dr', 40.8310339, -73.9359788),
 (74, 'Baxter St & Worth St', 40.7143777, -74.0004476),
 (75, 'Cathedral Pkwy & St Nicholas Ave', 40.7982104, -73.9523942),
 (76, 'New York Plz & Whitehall St', 40.7024415, -74.0128371),
 (77, 'E 37th St & Tunnel Exit St', 40.7472922, -73.9758289),
 (78, 'Broadway & Fort Washington Ave', 40.8353715, -73.9441039),
 (79, 'Fort Washington Ave & W 160th St', 40.8363811, -73.9445746),
 (80, 'Fort Washington Ave & W 161st St', 40.8370771, -73.9442977),
 (81, 'Fort Washington Ave & W 162nd St', 40.8377866, -73.9440172),
 (82, 'Fort Washington Ave & W 163rd St', 40.8384634, -73.9437512),
 (83, 'Fort Washington Ave & W 164th St', 40.839174, -73.943465),
 (84, 'Fort Washington Ave & W 165th St', 40.840193, -73.943066),
 (85, 'Fort Washington Ave & Haven Ave', 40.842154, -73.942279),
 (86, 'Fort Washington Ave & W 169th St', 40.84281, -73.942013),
 (87, 'Fort Washington Ave & W 170th St', 40.843443, -73.9416398),
 (88, 'Fort Washington Ave & W 171st St', 40.844049, -73.941142),
 (89, 'Fort Washington Ave & W 172nd St', 40.844686, -73.940795),
 (90, 'Fort Washington Ave & W 173rd St', 40.845369, -73.940518),
 (91, 'Fort Washington Ave & W 174th St', 40.846048, -73.940241),
 (92, 'Fort Washington Ave & W 175th St', 40.846519, -73.940061),
 (93, 'Fort Washington Ave & W 176th St', 40.84721, -73.939779),
 (94, 'Fort Washington Ave & W 177th St', 40.847838, -73.939524),
 (95, 'Fort Washington Ave & W 180th St', 40.8499781, -73.9386594),
 (96, 'Fort Washington Ave & W 181st St', 40.850909, -73.938284),
 (97, 'Fort Washington Ave & W 183rd St', 40.852128, -73.937819),
 (98, 'Fort Washington Ave & W 185th St', 40.85338, -73.937435),
 (99, 'Fort Washington Ave & W 187th St', 40.855125, -73.9369033),
 (100, 'Fort Washington Ave & W 190th St', 40.857109, -73.935602),
 (101, 'Gold St & Spruce St', 40.710185, -74.0042501),
 (102, 'Centre St & Reade St', 40.7136499, -74.0036256),
 (103, 'Centre St & Duane St', 40.7139712, -74.0030556),
 (104, 'Centre St & Pearl St', 40.7142983, -74.0026161),
 (105, 'Centre St & Worth St', 40.7151767, -74.0021357),
 (106, 'Centre St & Leonard St', 40.7157471, -74.0016907),
 (107, 'Centre St & White St', 40.71693, -74.000818),
 (108, 'Centre St & Walker St', 40.717619, -74.000274),
 (109, 'Canal St & Centre St', 40.718017, -73.999956),
 (110, 'Centre St & Hester St', 40.7186723, -73.9994292),
 (111, 'Centre St & Grand St', 40.7198029, -73.9985112),
 (112, 'Broome St & Centre St', 40.720836, -73.997655),
 (113, 'Grand St & Pitt St', 40.7152208, -73.9842477),
 (114, 'Pitt St & Rivington St', 40.7183028, -73.9825031),
 (115, 'Pitt St & Staten St Exn', 40.7194648, -73.981919),
 (116, 'E Houston St & Pitt St', 40.7206493, -73.9813183),
 (117, '5th Ave & W 20th St', 40.739673, -73.990945),
 (118, '6th Ave & W 20th St', 40.741031, -73.994165),
 (119, '7th Ave & W 20th St', 40.742228, -73.997007),
 (120, '8th Ave & W 20th St', 40.7434266, -73.9998517),
 (121, '9th Ave & W 20th St', 40.7446399, -74.0027323),
 (122, '10th Ave & W 20th St', 40.745816, -74.005535),
 (123, 'Lincoln Hwy & W 20th St', 40.746795, -74.0078599),
 (124, '6th Ave & W 24th St', 40.7435682, -73.9923179),
 (125, '7th Ave & W 24th St', 40.744765, -73.9951595),
 (126, '8th Ave & W 24th St', 40.7459612, -73.998),
 (127, '9th Ave & W 24th St', 40.7471747, -74.0008813),
 (128, '10th Ave & W 24th St', 40.748355, -74.003684),
 (129, 'Lincoln Hwy & W 24th St', 40.7502561, -74.0082754),
 (130, 'Broadway & W 220th St', 40.8722414, -73.9126036),
 (131, 'Grand St & Jackson St', 40.7142522, -73.9808919),
 (132, 'Jackson St & Madison St', 40.7135643, -73.9808565),
 (133, 'E 58th St & W 58th St', 40.763659, -73.973465),
 (134, 'St Nicholas Ave & W 192nd St', 40.856182, -73.928716),
 (135, 'Broadway & W 192nd St', 40.857841, -73.932043),
 (136, '5th Ave & W 29th St', 40.745301, -73.986846),
 (137, 'Broadway & W 29th St', 40.7460463, -73.9886202),
 (138, '6th Ave & W 29th St', 40.746659, -73.990067),
 (139, '7th Ave & W 29th St', 40.7478553, -73.9929106),
 (140, '8th Ave & W 29th St', 40.7490521, -73.9957492),
 (141, '9th Ave & W 29th St', 40.7502567, -73.998626),
 (142, '10th Ave & W 29th St', 40.7514485, -74.0014254),
 (143, '11th Ave & W 29th St', 40.7526457, -74.0042703),
 (144, 'Lincoln Hwy & W 29th St', 40.75379, -74.0070337),
 (145, 'Broadway & Sherman Ave', 40.8621121, -73.9300037),
 (146, 'Arden St & Sherman Ave', 40.862926, -73.927766),
 (147, 'Sherman Ave & Thayer St', 40.863238, -73.926923),
 (148, 'Dyckman St & Sherman Ave', 40.863575, -73.926011),
 (149, 'Academy St & Sherman Ave', 40.864403, -73.923767),
 (150, 'Sherman Ave & W 204th St', 40.8651, -73.921884),
 (151, 'Sherman Ave & W 207th St', 40.865797, -73.919996),
 (152, 'Isham St & Sherman Ave', 40.866315, -73.918596),
 (153, '10th Ave & Sherman Ave', 40.866813, -73.917205),
 (154, 'St Nicholas Pl & W 150th St', 40.8272063, -73.9424535),
 (155, 'Edgecombe Ave & St Nicholas Pl', 40.830292, -73.9402243),
 (156, 'Central Park W & W 81st St', 40.7820374, -73.9717336),
 (157, 'Broadway & W 225th St', 40.8745523, -73.9096352),
 (158, 'E 61st St & York Ave', 40.759913, -73.958809),
 (159, 'E 62nd St & York Ave', 40.7605433, -73.9583477),
 (160, 'E 63rd St & York Ave', 40.7611623, -73.9579282),
 (161, 'E 64th St & York Ave', 40.7617963, -73.9574532),
 (162, 'E 65th St & York Ave', 40.7624221, -73.9569952),
 (163, 'E 66th St & York Ave', 40.7630478, -73.9565374),
 (164, 'E 67th St & York Ave', 40.7636674, -73.956084),
 (165, 'E 68th St & York Ave', 40.7642963, -73.9556238),
 (166, 'E 69th St & York Ave', 40.7649208, -73.9551668),
 (167, 'E 70th St & York Ave', 40.765554, -73.9547034),
 (168, 'E 71st St & York Ave', 40.7661805, -73.9542449),
 (169, 'E 72nd St & York Ave', 40.7668593, -73.9537482),
 (170, 'E 73rd St & York Ave', 40.7675414, -73.953249),
 (171, 'E 74th St & York Ave', 40.7681847, -73.9527843),
 (172, 'E 75th St & York Ave', 40.7688236, -73.9523229),
 (173, 'E 76th St & York Ave', 40.7694634, -73.9518607),
 (174, 'E 77th St & York Ave', 40.7700762, -73.9514149),
 (175, 'E 78th St & York Ave', 40.7707103, -73.9509381),
 (176, 'E 79th St & York Ave', 40.7714021, -73.9504368),
 (177, 'E 80th St & York Ave', 40.7720657, -73.9499424),
 (178, 'E 81st St & York Ave', 40.7726941, -73.9494862),
 (179, 'E 82nd St & York Ave', 40.773343, -73.9490092),
 (180, 'E 83rd St & York Ave', 40.7739762, -73.9485506),
 (181, 'E 84th St & York Ave', 40.7746141, -73.9480817),
 (182, 'E 85th St & York Ave', 40.7752458, -73.9476241),
 (183, 'E 86th St & York Ave', 40.775929, -73.947122),
 (184, 'E 87th St & York Ave', 40.7766012, -73.9466301),
 (185, 'E 88th St & York Ave', 40.7772273, -73.9461727),
 (186, 'E 89th St & York Ave', 40.7778572, -73.9457131),
 (187, 'E 90th St & York Ave', 40.7784828, -73.9452574),
 (188, 'E 91st St & York Ave', 40.779146, -73.9447758),
 (189, 'E 92nd St & York Ave', 40.7797706, -73.9443355),
 (190, 'Columbus Ave & W 78th St', 40.7812676, -73.9759823),
 (191, 'Amsterdam Ave & W 78th St', 40.7824641, -73.9788209),
 (192, 'Broadway & W 78th St', 40.7832069, -73.9805809),
 (193, 'W 78th St & W End Ave', 40.7836714, -73.9816869),
 (194, 'Riverside Dr & W 78th St', 40.784357, -73.9833075),
 (195, 'Amsterdam Ave & W 180th St', 40.8474237, -73.9313827),
 (196, 'Audubon Ave & W 180th St', 40.848038, -73.932849),
 (197, 'St Nicholas Ave & W 180th St', 40.848626, -73.934239),
 (198, 'W 180th St & Wadsworth Ave', 40.849145, -73.935471),
 (199, 'Broadway & W 180th St', 40.849541, -73.936397),
 (200, 'Cabrini Blvd & W 181st St', 40.8513418, -73.9402247),
 (201, 'Cabrini Blvd & W 187th St', 40.8556043, -73.9379223),
 (202, 'E 17th St & Union Sq W', 40.7371276, -73.9903368),
 (203, 'Broadway & E 18th St', 40.7378014, -73.9901312),
 (204, 'Broadway & E 19th St', 40.7384888, -73.9899514),
 (205, 'Broadway & E 20th St', 40.739176, -73.9897657),
 (206, 'Broadway & E 21st St', 40.7398521, -73.989584),
 (207, 'Broadway & E 22nd St', 40.7405826, -73.9893518),
 (208, 'Broadway & E 23rd St', 40.7413644, -73.9891371),
 (209, '5th Ave & Broadway', 40.7422202, -73.9891049),
 (210, 'Broadway & W 25th St', 40.7430463, -73.9891667),
 (211, 'Broadway & W 26th St', 40.7438037, -73.9890293),
 (212, 'Broadway & W 27th St', 40.744533, -73.988869),
 (213, 'Broadway & W 28th St', 40.745286, -73.988729),
 (214, 'Broadway & W 30th St', 40.7468087, -73.9884802),
 (215, 'Broadway & W 31st St', 40.7475512, -73.9883321),
 (216, 'Broadway & W 35th St', 40.7506917, -73.9878136),
 (217, 'Broadway & W 36th St', 40.751444, -73.9876732),
 (218, 'Broadway & W 37th St', 40.7521844, -73.9875229),
 (219, 'Broadway & W 38th St', 40.7528998, -73.9873181),
 (220, 'Broadway & W 39th St', 40.7536275, -73.9871097),
 (221, 'Broadway & W 40th St', 40.7543309, -73.9868863),
 (222, 'Broadway & W 41st St', 40.7550505, -73.9866586),
 (223, 'Broadway & W 42nd St', 40.7558137, -73.9864171),
 (224, 'Broadway & W 43rd St', 40.7565989, -73.9861943),
 (225, 'Broadway & W 44th St', 40.7572592, -73.9858201),
 (226, '7th Ave & W 45th St', 40.7579634, -73.9855335),
 (227, 'Broadway & W 46th St', 40.7586863, -73.9853225),
 (228, 'Broadway & W 47th St', 40.7593949, -73.9850691),
 (229, 'Broadway & W 48th St', 40.7601058, -73.9848067),
 (230, 'Broadway & W 49th St', 40.7607802, -73.9844587),
 (231, 'Broadway & W 50th St', 40.7614293, -73.9840461),
 (232, 'Broadway & W 51st St', 40.7620648, -73.9836282),
 (233, 'Broadway & W 52nd St', 40.7627053, -73.9832172),
 (234, 'Broadway & W 53rd St', 40.7633546, -73.9828256),
 (235, 'Broadway & W 54th St', 40.764037, -73.9824772),
 (236, 'Broadway & W 55th St', 40.7647366, -73.9822148),
 (237, 'Broadway & W 56th St', 40.7654522, -73.9819937),
 (238, 'Broadway & W 57th St', 40.766287, -73.981848),
 (239, 'Broadway & W 58th St', 40.7671189, -73.9817098),
 (240, 'Battery Pl & Broadway', 40.7046327, -74.0142203),
 (241, 'Broadway & Morris St', 40.7058713, -74.0132406),
 (242, 'Broadway & Exchange Aly', 40.706767, -74.012508),
 (243, 'Broadway & Rector St', 40.707452, -74.011947),
 (244, 'Broadway & Wall St', 40.7077665, -74.011695),
 (245, 'Broadway & Pine St', 40.708304, -74.011248),
 (246, 'Broadway & Cedar St', 40.708797, -74.010846),
 (247, 'Broadway & Maiden Ln', 40.709806, -74.009988),
 (248, 'Broadway & Dey St', 40.710413, -74.009474),
 (249, 'Broadway & Fulton St', 40.710887, -74.009063),
 (250, 'Broadway & Vesey St', 40.7113899, -74.0086338),
 (251, 'Broadway & Reade St', 40.7146812, -74.0058865),
 (252, 'Broadway & Duane St', 40.715236, -74.00542),
 (253, 'Broadway & Thomas St', 40.71576, -74.004976),
 (254, 'Broadway & Worth St', 40.7162869, -74.0045303),
 (255, 'Broadway & Leonard St', 40.716871, -74.004026),
 (256, 'Broadway & Franklin St', 40.717449, -74.003533),
 (257, 'Broadway & White St', 40.7180338, -74.003043),
 (258, 'Broadway & Walker St', 40.7186389, -74.0025285),
 (259, 'Broadway & Canal St', 40.7194058, -74.0018769),
 (260, 'Broadway & Howard St', 40.719938, -74.001425),
 (261, 'Broadway & Grand St', 40.7208634, -74.0006449),
 (262, 'Broadway & Broome St', 40.7217891, -73.9998554),
 (263, 'Broadway & Spring St', 40.723021, -73.998812),
 (264, 'Broadway & Prince St', 40.724235, -73.997785),
 (265, 'Broadway & E Houston St', 40.7255012, -73.9967146),
 (266, 'Bond St & Broadway', 40.727211, -73.99527),
 (267, 'Broadway & W 3rd St', 40.7278266, -73.9947496),
 (268, 'Broadway & E 4th St', 40.728412, -73.994252),
 (269, 'Broadway & Washington Pl', 40.729008, -73.993747),
 (270, 'Broadway & Waverly Pl', 40.72958, -73.993262),
 (271, 'Astor Pl & Broadway', 40.730079, -73.992841),
 (272, 'Broadway & E 8th St', 40.7306011, -73.9923997),
 (273, 'Broadway & E 9th St', 40.731166, -73.991921),
 (274, 'Broadway & E 10th St', 40.7317445, -73.9914619),
 (275, 'Broadway & E 11th St', 40.732449, -73.991289),
 (276, 'Broadway & E 12th St', 40.733214, -73.991114),
 (277, 'Broadway & E 13th St', 40.733978, -73.990945),
 (278, 'Broadway & E 14th St', 40.7347938, -73.9907171),
 (279, 'Beaver St & Broadway', 40.7045884, -74.013276),
 (280, 'Broadway & W 60th St', 40.7689456, -73.9822067),
 (281, 'Broadway & W 62nd St', 40.7706087, -73.9822655),
 (282, 'Broadway & W 63rd St', 40.7714459, -73.9822732),
 (283, 'Broadway & Columbus Ave', 40.7726498, -73.9822961),
 (284, 'Broadway & W 66th St', 40.7739304, -73.9823484),
 (285, 'Broadway & W 67th St', 40.7747352, -73.982312),
 (286, 'Broadway & W 68th St', 40.7755451, -73.9822819),
 (287, 'Broadway & W 69th St', 40.7763503, -73.9822502),
 (288, 'Broadway & W 70th St', 40.7771407, -73.982225),
 (289, 'Broadway & W 72nd St', 40.7787921, -73.9820581),
 (290, 'Broadway & W 73rd St', 40.7795997, -73.9818489),
 (291, 'Broadway & W 74th St', 40.7803332, -73.9816348),
 (292, 'Broadway & W 75th St', 40.7810582, -73.9814257),
 (293, 'Broadway & W 76th St', 40.7818019, -73.9811764),
 (294, 'Broadway & W 77th St', 40.7825164, -73.9809212),
 (295, 'Broadway & W 79th St', 40.783893, -73.9800838),
 (296, 'Broadway & W 81st St', 40.7852008, -73.9791229),
 (297, 'Broadway & W 82nd St', 40.7858192, -73.9786487),
 (298, 'Broadway & W 83rd St', 40.7864652, -73.9781723),
 (299, 'Broadway & W 85th St', 40.7876892, -73.9771797),
 (300, 'Broadway & W 86th St', 40.7883609, -73.9766072),
 (301, 'Broadway & W 87th St', 40.788995, -73.9760614),
 (302, 'Broadway & W 88th St', 40.7896182, -73.9755987),
 (303, 'Broadway & W 90th St', 40.7908742, -73.9746797),
 (304, 'Broadway & W 91st St', 40.7915093, -73.974213),
 (305, 'Broadway & W 92nd St', 40.7921407, -73.9737576),
 (306, 'Broadway & W 93rd St', 40.792771, -73.9732956),
 (307, 'Broadway & W 94th St', 40.7933947, -73.9728492),
 (308, 'Broadway & W 95th St', 40.794038, -73.9724164),
 (309, 'Broadway & W 96th St', 40.7947101, -73.9719192),
 (310, 'Broadway & W 97th St', 40.7953622, -73.9714107),
 (311, 'Broadway & W 98th St', 40.7959957, -73.9709211),
 (312, 'Broadway & W 99th St', 40.7966222, -73.9704634),
 (313, 'Broadway & W 100th St', 40.7972533, -73.9700079),
 (314, 'Broadway & W 101st St', 40.7978702, -73.9695717),
 (315, 'Broadway & W 102nd St', 40.7985082, -73.9691157),
 (316, 'Broadway & W 103rd St', 40.7991422, -73.9686501),
 (317, 'Broadway & W 104th St', 40.7998293, -73.9683196),
 (318, 'Broadway & W 105th St', 40.8005442, -73.9680997),
 (319, 'Broadway & W 107th St', 40.8022513, -73.9679079),
 (320, 'Broadway & W 109th St', 40.8036112, -73.9672429),
 (321, 'Broadway & Cathedral Pkwy', 40.8042094, -73.966794),
 (322, 'Broadway & W 112th St', 40.8054904, -73.9658601),
 (323, 'Broadway & W 113th St', 40.8061176, -73.9654027),
 (324, 'Broadway & W 114th St', 40.8067455, -73.9649464),
 (325, 'Broadway & W 115th St', 40.8073825, -73.9644822),
 (326, 'Broadway & W 121st St', 40.8112589, -73.9616861),
 (327, 'Broadway & Tiemann Pl', 40.8151825, -73.9588379),
 (328, 'Broadway & W 125th St', 40.8158075, -73.9583909),
 (329, 'Broadway & W 135th St', 40.8201687, -73.9552062),
 (330, 'Broadway & W 141st St', 40.8239402, -73.9524477),
 (331, 'Broadway & W 142nd St', 40.8245785, -73.9519855),
 (332, 'Broadway & W 143rd St', 40.8251983, -73.9515358),
 (333, 'Broadway & W 144th St', 40.8258119, -73.9510825),
 (334, 'Broadway & W 145th St', 40.8264958, -73.9505823),
 (335, 'Broadway & W 146th St', 40.8271631, -73.9500994),
 (336, 'Broadway & W 147th St', 40.8277858, -73.9496453),
 (337, 'Broadway & W 148th St', 40.8284141, -73.949184),
 (338, 'Broadway & W 149th St', 40.8290241, -73.9487404),
 (339, 'Broadway & W 150th St', 40.8296535, -73.9482817),
 (340, 'Broadway & W 151st St', 40.8302751, -73.9478285),
 (341, 'Broadway & W 152nd St', 40.8309006, -73.9473687),
 (342, 'Broadway & W 153rd St', 40.8315246, -73.9469124),
 (343, 'Broadway & W 155th St', 40.8328285, -73.9459609),

In [6]:
conn = sqlite3.connect('safe_cycle_db.sqlite')
cur = conn.cursor()

In [7]:
cur.execute('''DROP TABLE IF EXISTS intersections;''')

cur.execute('''CREATE TABLE intersections (
    id INTEGER PRIMARY KEY NOT NULL, 
    name MEDIUMTEXT, 
    lat FLOAT, 
    lon FLOAT);''')
conn.commit()

In [8]:
for tup in int_list:
    string = '''INSERT INTO intersections (id, name, lat, lon) 
                VALUES ({}, "{}",{},{})'''.format(tup[0],tup[1],tup[2],tup[3])
    #print(string)
    cur.execute(string)
    
conn.commit()
print(string)

INSERT INTO intersections (id, name, lat, lon)
                VALUES (9737, "Clarendon Rd & Nostrand Ave",40.6432433,-73.9487606)

In [14]:
print(string)

INSERT INTO intersections (id, name, lat, lon)
                VALUES (3312, 'Albany Ave & St Mark's Ave',40.674599,-73.938895)

In [9]:
%load_ext sql
%sql sqlite:///safe_cycle_db.sqlite

'Connected: @safe_cycle_db.sqlite'

In [10]:
%%sql

SELECT * FROM intersections LIMIT 100

 * sqlite:///safe_cycle_db.sqlite
Done.

[(0, 'Central Park W & W 106th St', 40.7980486, -73.9600434),
 (1, 'Manhattan Ave & W 106th St', 40.798645, -73.9614743),
 (2, 'Columbus Ave & W 106th St', 40.7992545, -73.962886),
 (3, 'Amsterdam Ave & W 106th St', 40.8004313, -73.9657046),
 (4, 'Broadway & W 106th St', 40.8014007, -73.9679942),
 (5, 'Duke Ellington Blvd & W End Ave', 40.8016434, -73.9685615),
 (6, 'Columbus Ave & W 80th St', 40.7826312, -73.9749879),
 (7, 'Amsterdam Ave & W 80th St', 40.783828, -73.9778254),
 (8, 'Broadway & W 80th St', 40.7845691, -73.9795827),
 (9, 'W 80th St & W End Ave', 40.7850311, -73.9806779),
 (10, 'Broadway & Hillside Ave', 40.8593027, -73.9313326),
 (11, 'Central Park W & W 84th St', 40.7839788, -73.9703286),
 (12, 'Columbus Ave & W 84th St', 40.7851655, -73.9731396),
 (13, 'Amsterdam Ave & W 84th St', 40.7863627, -73.9759753),
 (14, 'Broadway & W 84th St', 40.7870877, -73.9776927),
 (15, 'W 84th St & W End Ave', 40.7875673, -73.9788289),
 (16, 'Edgar Allen Poe St & Riverside Dr', 40.7885135, -73.9810702),
 (17, 'Broadway & la Salle St', 40.8138385, -73.9598159),
 (18, '5th Ave & E 9th St', 40.7328593, -73.9959038),
 (19, 'Ave of the Americas & W 9th St', 40.7341463, -73.9991816),
 (20, 'Old Slip & Water St', 40.704211, -74.008789),
 (21, 'Old Slip & South St', 40.7033242, -74.0077787),
 (22, 'Central Park W & W 61st St', 40.7692746, -73.9810292),
 (23, 'Broadway & W 61st St', 40.7697921, -73.9822548),
 (24, 'Columbus Ave & W 61st St', 40.770478, -73.9838503),
 (25, 'Amsterdam Ave & W 61st St', 40.7716657, -73.9866932),
 (26, 'W 61st St & W End Ave', 40.7728658, -73.9895487),
 (27, 'Central Park W & W 89th St', 40.7872303, -73.9679486),
 (28, 'Columbus Ave & W 89th St', 40.7884217, -73.9707647),
 (29, 'Amsterdam Ave & W 89th St', 40.7896131, -73.9736025),
 (30, 'Broadway & W 89th St', 40.7902552, -73.9751319),
 (31, 'W 89th St & W End Ave', 40.7908141, -73.976449),
 (32, 'Riverside Dr & W 89th St', 40.7917606, -73.9786893),
 (33, 'Liberty St & S End Ave', 40.7115654, -74.0158085),
 (34, 'Liberty St & West St', 40.7110102, -74.0143968),
 (35, 'Liberty St & Trinity Pl', 40.709687, -74.011674),
 (36, 'Broadway & Liberty St', 40.709154, -74.010542),
 (37, '11th Ave & W 22nd St', 40.7482137, -74.0074126),
 (38, 'Dover St & Pearl St', 40.7094916, -74.001657),
 (39, 'Riverside Dr & W 79th St', 40.7849758, -73.9826602),
 (40, 'E 37th St & I- 495', 40.7456771, -73.9721195),
 (41, '2nd Ave & E 36th St', 40.7460815, -73.9749232),
 (42, 'E Houston St & F D R Dr', 40.7188498, -73.9747446),
 (43, 'Amsterdam Ave & W 175th St', 40.8442431, -73.9337066),
 (44, 'Amsterdam Ave & W 178th St', 40.8461493, -73.9323138),
 (45, '2nd Ave & Dr Martin Luther King Jr Blvd', 40.8027007, -73.9334044),
 (46, 'F D R Dr & Grand St', 40.71325, -73.977586),
 (47, 'Varick St & Watts St', 40.7237914, -74.006113),
 (48, '2nd Ave & E 57th St', 40.7589757, -73.964501),
 (49, '2nd Ave & E 58th St', 40.7596362, -73.9639971),
 (50, '7th Ave & W 59 St', 40.766876, -73.979076),
 (51, '2nd Ave & E 62nd St', 40.7620792, -73.9619892),
 (52, '10th Ave & W 39th St', 40.7577413, -73.9968472),
 (53, 'E 96th St & F D R Dr', 40.7828662, -73.9437553),
 (54, 'Riverside Dr & W 72nd St', 40.7803049, -73.9856663),
 (55, '2nd Ave & E 59th St', 40.760618, -73.9643488),
 (56, '12th Ave & Joe Dimaggio Hwy', 40.769378, -73.9950384),
 (57, 'Central Park W & W 77th St', 40.779478, -73.973571),
 (58, 'Hudson St & Laight St', 40.7219848, -74.0082309),
 (59, 'Central Park W & W 67th St', 40.773031, -73.978281),
 (60, 'Central Park W & W 96th St', 40.7916741, -73.9647071),
 (61, 'Beach St & Hudson St', 40.7206456, -74.008466),
 (62, 'Canal St & Hudson St', 40.7237578, -74.0079297),
 (63, 'E 60th St & York Ave', 40.7593048, -73.9592537),
 (64, 'Marginal St & W 125th St', 40.818704, -73.961038),
 (65, 'Dyer Ave & W 40th St', 40.7576611, -73.9948152),
 (66, 'Central Park W & W 85th St', 40.7846108, -73.9698592),
 (67, 'Broome St & Varick St', 40.7244132, -74.0059302),
 (68, '12th Ave & St Clair Pl', 40.8176383, -73.9609797),
 (69, '5th Ave & E 102nd St', 40.791722, -73.952984),
 (70, 'Central Park W & W 97th St', 40.7923849, -73.9641866),
 (71, 'Riverside Dr & W 95th St', 40.7955204, -73.9759847),
 (72, 'Central Park W & W 100th St', 40.7941936, -73.9628635),
 (73, 'Frederick Douglass Blvd & Harlem River Dr', 40.8310339, -73.9359788),
 (74, 'Baxter St & Worth St', 40.7143777, -74.0004476),
 (75, 'Cathedral Pkwy & St Nicholas Ave', 40.7982104, -73.9523942),
 (76, 'New York Plz & Whitehall St', 40.7024415, -74.0128371),
 (77, 'E 37th St & Tunnel Exit St', 40.7472922, -73.9758289),
 (78, 'Broadway & Fort Washington Ave', 40.8353715, -73.9441039),
 (79, 'Fort Washington Ave & W 160th St', 40.8363811, -73.9445746),
 (80, 'Fort Washington Ave & W 161st St', 40.8370771, -73.9442977),
 (81, 'Fort Washington Ave & W 162nd St', 40.8377866, -73.9440172),
 (82, 'Fort Washington Ave & W 163rd St', 40.8384634, -73.9437512),
 (83, 'Fort Washington Ave & W 164th St', 40.839174, -73.943465),
 (84, 'Fort Washington Ave & W 165th St', 40.840193, -73.943066),
 (85, 'Fort Washington Ave & Haven Ave', 40.842154, -73.942279),
 (86, 'Fort Washington Ave & W 169th St', 40.84281, -73.942013),
 (87, 'Fort Washington Ave & W 170th St', 40.843443, -73.9416398),
 (88, 'Fort Washington Ave & W 171st St', 40.844049, -73.941142),
 (89, 'Fort Washington Ave & W 172nd St', 40.844686, -73.940795),
 (90, 'Fort Washington Ave & W 173rd St', 40.845369, -73.940518),
 (91, 'Fort Washington Ave & W 174th St', 40.846048, -73.940241),
 (92, 'Fort Washington Ave & W 175th St', 40.846519, -73.940061),
 (93, 'Fort Washington Ave & W 176th St', 40.84721, -73.939779),
 (94, 'Fort Washington Ave & W 177th St', 40.847838, -73.939524),
 (95, 'Fort Washington Ave & W 180th St', 40.8499781, -73.9386594),
 (96, 'Fort Washington Ave & W 181st St', 40.850909, -73.938284),
 (97, 'Fort Washington Ave & W 183rd St', 40.852128, -73.937819),
 (98, 'Fort Washington Ave & W 185th St', 40.85338, -73.937435),
 (99, 'Fort Washington Ave & W 187th St', 40.855125, -73.9369033)]

In [ ]:
cur.execute('''DROP TABLE IF EXISTS crashes;''')

cur.execute('''CREATE TABLE intersections (
    id INTEGER PRIMARY KEY NOT NULL, 
    name MEDIUMTEXT, 
    lat FLOAT, 
    lon FLOAT);''')
conn.commit()

In [240]:
for i, el in enumerate(int_list):
    int_list[i] = (el[0], el[1].replace('and','&'),el[2], el[3])
int_list

[(0, 'Central Park W & W 106th St', 40.7980486, -73.9600434),
 (1, 'Manhattan Ave & W 106th St', 40.798645, -73.9614743),
 (2, 'Columbus Ave & W 106th St', 40.7992545, -73.962886),
 (3, 'Amsterdam Ave & W 106th St', 40.8004313, -73.9657046),
 (4, 'Broadway & W 106th St', 40.8014007, -73.9679942),
 (5, 'Duke Ellington Blvd & W End Ave', 40.8016434, -73.9685615),
 (6, 'Columbus Ave & W 80th St', 40.7826312, -73.9749879),
 (7, 'Amsterdam Ave & W 80th St', 40.783828, -73.9778254),
 (8, 'Broadway & W 80th St', 40.7845691, -73.9795827),
 (9, 'W 80th St & W End Ave', 40.7850311, -73.9806779),
 (10, 'Broadway & Hillside Ave', 40.8593027, -73.9313326),
 (11, 'Central Park W & W 84th St', 40.7839788, -73.9703286),
 (12, 'Columbus Ave & W 84th St', 40.7851655, -73.9731396),
 (13, 'Amsterdam Ave & W 84th St', 40.7863627, -73.9759753),
 (14, 'Broadway & W 84th St', 40.7870877, -73.9776927),
 (15, 'W 84th St & W End Ave', 40.7875673, -73.9788289),
 (16, 'Edgar Allen Poe St & Riverside Dr', 40.7885135, -73.9810702),
 (17, 'Broadway & la Salle St', 40.8138385, -73.9598159),
 (18, '5th Ave & E 9th St', 40.7328593, -73.9959038),
 (19, 'Ave of the Americas & W 9th St', 40.7341463, -73.9991816),
 (20, 'Old Slip & Water St', 40.704211, -74.008789),
 (21, 'Old Slip & South St', 40.7033242, -74.0077787),
 (22, 'Central Park W & W 61st St', 40.7692746, -73.9810292),
 (23, 'Broadway & W 61st St', 40.7697921, -73.9822548),
 (24, 'Columbus Ave & W 61st St', 40.770478, -73.9838503),
 (25, 'Amsterdam Ave & W 61st St', 40.7716657, -73.9866932),
 (26, 'W 61st St & W End Ave', 40.7728658, -73.9895487),
 (27, 'Central Park W & W 89th St', 40.7872303, -73.9679486),
 (28, 'Columbus Ave & W 89th St', 40.7884217, -73.9707647),
 (29, 'Amsterdam Ave & W 89th St', 40.7896131, -73.9736025),
 (30, 'Broadway & W 89th St', 40.7902552, -73.9751319),
 (31, 'W 89th St & W End Ave', 40.7908141, -73.976449),
 (32, 'Riverside Dr & W 89th St', 40.7917606, -73.9786893),
 (33, 'Liberty St & S End Ave', 40.7115654, -74.0158085),
 (34, 'Liberty St & West St', 40.7110102, -74.0143968),
 (35, 'Liberty St & Trinity Pl', 40.709687, -74.011674),
 (36, 'Broadway & Liberty St', 40.709154, -74.010542),
 (37, '11th Ave & W 22nd St', 40.7482137, -74.0074126),
 (38, 'Dover St & Pearl St', 40.7094916, -74.001657),
 (39, 'Riverside Dr & W 79th St', 40.7849758, -73.9826602),
 (40, 'E 37th St & I- 495', 40.7456771, -73.9721195),
 (41, '2nd Ave & E 36th St', 40.7460815, -73.9749232),
 (42, 'E Houston St & F D R Dr', 40.7188498, -73.9747446),
 (43, 'Amsterdam Ave & W 175th St', 40.8442431, -73.9337066),
 (44, 'Amsterdam Ave & W 178th St', 40.8461493, -73.9323138),
 (45, '2nd Ave & Dr Martin Luther King Jr Blvd', 40.8027007, -73.9334044),
 (46, 'F D R Dr & Gr& St', 40.71325, -73.977586),
 (47, 'Varick St & Watts St', 40.7237914, -74.006113),
 (48, '2nd Ave & E 57th St', 40.7589757, -73.964501),
 (49, '2nd Ave & E 58th St', 40.7596362, -73.9639971),
 (50, '7th Ave & W 59 St', 40.766876, -73.979076),
 (51, '2nd Ave & E 62nd St', 40.7620792, -73.9619892),
 (52, '10th Ave & W 39th St', 40.7577413, -73.9968472),
 (53, 'E 96th St & F D R Dr', 40.7828662, -73.9437553),
 (54, 'Riverside Dr & W 72nd St', 40.7803049, -73.9856663),
 (55, '2nd Ave & E 59th St', 40.760618, -73.9643488),
 (56, '12th Ave & Joe Dimaggio Hwy', 40.769378, -73.9950384),
 (57, 'Central Park W & W 77th St', 40.779478, -73.973571),
 (58, 'Hudson St & Laight St', 40.7219848, -74.0082309),
 (59, 'Central Park W & W 67th St', 40.773031, -73.978281),
 (60, 'Central Park W & W 96th St', 40.7916741, -73.9647071),
 (61, 'Beach St & Hudson St', 40.7206456, -74.008466),
 (62, 'Canal St & Hudson St', 40.7237578, -74.0079297),
 (63, 'E 60th St & York Ave', 40.7593048, -73.9592537),
 (64, 'Marginal St & W 125th St', 40.818704, -73.961038),
 (65, 'Dyer Ave & W 40th St', 40.7576611, -73.9948152),
 (66, 'Central Park W & W 85th St', 40.7846108, -73.9698592),
 (67, 'Broome St & Varick St', 40.7244132, -74.0059302),
 (68, '12th Ave & St Clair Pl', 40.8176383, -73.9609797),
 (69, '5th Ave & E 102nd St', 40.791722, -73.952984),
 (70, 'Central Park W & W 97th St', 40.7923849, -73.9641866),
 (71, 'Riverside Dr & W 95th St', 40.7955204, -73.9759847),
 (72, 'Central Park W & W 100th St', 40.7941936, -73.9628635),
 (73, 'Frederick Douglass Blvd & Harlem River Dr', 40.8310339, -73.9359788),
 (74, 'Baxter St & Worth St', 40.7143777, -74.0004476),
 (75, 'Cathedral Pkwy & St Nicholas Ave', 40.7982104, -73.9523942),
 (76, 'New York Plz & Whitehall St', 40.7024415, -74.0128371),
 (77, 'E 37th St & Tunnel Exit St', 40.7472922, -73.9758289),
 (78, 'Broadway & Fort Washington Ave', 40.8353715, -73.9441039),
 (79, 'Fort Washington Ave & W 160th St', 40.8363811, -73.9445746),
 (80, 'Fort Washington Ave & W 161st St', 40.8370771, -73.9442977),
 (81, 'Fort Washington Ave & W 162nd St', 40.8377866, -73.9440172),
 (82, 'Fort Washington Ave & W 163rd St', 40.8384634, -73.9437512),
 (83, 'Fort Washington Ave & W 164th St', 40.839174, -73.943465),
 (84, 'Fort Washington Ave & W 165th St', 40.840193, -73.943066),
 (85, 'Fort Washington Ave & Haven Ave', 40.842154, -73.942279),
 (86, 'Fort Washington Ave & W 169th St', 40.84281, -73.942013),
 (87, 'Fort Washington Ave & W 170th St', 40.843443, -73.9416398),
 (88, 'Fort Washington Ave & W 171st St', 40.844049, -73.941142),
 (89, 'Fort Washington Ave & W 172nd St', 40.844686, -73.940795),
 (90, 'Fort Washington Ave & W 173rd St', 40.845369, -73.940518),
 (91, 'Fort Washington Ave & W 174th St', 40.846048, -73.940241),
 (92, 'Fort Washington Ave & W 175th St', 40.846519, -73.940061),
 (93, 'Fort Washington Ave & W 176th St', 40.84721, -73.939779),
 (94, 'Fort Washington Ave & W 177th St', 40.847838, -73.939524),
 (95, 'Fort Washington Ave & W 180th St', 40.8499781, -73.9386594),
 (96, 'Fort Washington Ave & W 181st St', 40.850909, -73.938284),
 (97, 'Fort Washington Ave & W 183rd St', 40.852128, -73.937819),
 (98, 'Fort Washington Ave & W 185th St', 40.85338, -73.937435),
 (99, 'Fort Washington Ave & W 187th St', 40.855125, -73.9369033),
 (100, 'Fort Washington Ave & W 190th St', 40.857109, -73.935602),
 (101, 'Gold St & Spruce St', 40.710185, -74.0042501),
 (102, 'Centre St & Reade St', 40.7136499, -74.0036256),
 (103, 'Centre St & Duane St', 40.7139712, -74.0030556),
 (104, 'Centre St & Pearl St', 40.7142983, -74.0026161),
 (105, 'Centre St & Worth St', 40.7151767, -74.0021357),
 (106, 'Centre St & Leonard St', 40.7157471, -74.0016907),
 (107, 'Centre St & White St', 40.71693, -74.000818),
 (108, 'Centre St & Walker St', 40.717619, -74.000274),
 (109, 'Canal St & Centre St', 40.718017, -73.999956),
 (110, 'Centre St & Hester St', 40.7186723, -73.9994292),
 (111, 'Centre St & Gr& St', 40.7198029, -73.9985112),
 (112, 'Broome St & Centre St', 40.720836, -73.997655),
 (113, 'Gr& St & Pitt St', 40.7152208, -73.9842477),
 (114, 'Pitt St & Rivington St', 40.7183028, -73.9825031),
 (115, 'Pitt St & Staten St Exn', 40.7194648, -73.981919),
 (116, 'E Houston St & Pitt St', 40.7206493, -73.9813183),
 (117, '5th Ave & W 20th St', 40.739673, -73.990945),
 (118, '6th Ave & W 20th St', 40.741031, -73.994165),
 (119, '7th Ave & W 20th St', 40.742228, -73.997007),
 (120, '8th Ave & W 20th St', 40.7434266, -73.9998517),
 (121, '9th Ave & W 20th St', 40.7446399, -74.0027323),
 (122, '10th Ave & W 20th St', 40.745816, -74.005535),
 (123, 'Lincoln Hwy & W 20th St', 40.746795, -74.0078599),
 (124, '6th Ave & W 24th St', 40.7435682, -73.9923179),
 (125, '7th Ave & W 24th St', 40.744765, -73.9951595),
 (126, '8th Ave & W 24th St', 40.7459612, -73.998),
 (127, '9th Ave & W 24th St', 40.7471747, -74.0008813),
 (128, '10th Ave & W 24th St', 40.748355, -74.003684),
 (129, 'Lincoln Hwy & W 24th St', 40.7502561, -74.0082754),
 (130, 'Broadway & W 220th St', 40.8722414, -73.9126036),
 (131, 'Gr& St & Jackson St', 40.7142522, -73.9808919),
 (132, 'Jackson St & Madison St', 40.7135643, -73.9808565),
 (133, 'E 58th St & W 58th St', 40.763659, -73.973465),
 (134, 'St Nicholas Ave & W 192nd St', 40.856182, -73.928716),
 (135, 'Broadway & W 192nd St', 40.857841, -73.932043),
 (136, '5th Ave & W 29th St', 40.745301, -73.986846),
 (137, 'Broadway & W 29th St', 40.7460463, -73.9886202),
 (138, '6th Ave & W 29th St', 40.746659, -73.990067),
 (139, '7th Ave & W 29th St', 40.7478553, -73.9929106),
 (140, '8th Ave & W 29th St', 40.7490521, -73.9957492),
 (141, '9th Ave & W 29th St', 40.7502567, -73.998626),
 (142, '10th Ave & W 29th St', 40.7514485, -74.0014254),
 (143, '11th Ave & W 29th St', 40.7526457, -74.0042703),
 (144, 'Lincoln Hwy & W 29th St', 40.75379, -74.0070337),
 (145, 'Broadway & Sherman Ave', 40.8621121, -73.9300037),
 (146, 'Arden St & Sherman Ave', 40.862926, -73.927766),
 (147, 'Sherman Ave & Thayer St', 40.863238, -73.926923),
 (148, 'Dyckman St & Sherman Ave', 40.863575, -73.926011),
 (149, 'Academy St & Sherman Ave', 40.864403, -73.923767),
 (150, 'Sherman Ave & W 204th St', 40.8651, -73.921884),
 (151, 'Sherman Ave & W 207th St', 40.865797, -73.919996),
 (152, 'Isham St & Sherman Ave', 40.866315, -73.918596),
 (153, '10th Ave & Sherman Ave', 40.866813, -73.917205),
 (154, 'St Nicholas Pl & W 150th St', 40.8272063, -73.9424535),
 (155, 'Edgecombe Ave & St Nicholas Pl', 40.830292, -73.9402243),
 (156, 'Central Park W & W 81st St', 40.7820374, -73.9717336),
 (157, 'Broadway & W 225th St', 40.8745523, -73.9096352),
 (158, 'E 61st St & York Ave', 40.759913, -73.958809),
 (159, 'E 62nd St & York Ave', 40.7605433, -73.9583477),
 (160, 'E 63rd St & York Ave', 40.7611623, -73.9579282),
 (161, 'E 64th St & York Ave', 40.7617963, -73.9574532),
 (162, 'E 65th St & York Ave', 40.7624221, -73.9569952),
 (163, 'E 66th St & York Ave', 40.7630478, -73.9565374),
 (164, 'E 67th St & York Ave', 40.7636674, -73.956084),
 (165, 'E 68th St & York Ave', 40.7642963, -73.9556238),
 (166, 'E 69th St & York Ave', 40.7649208, -73.9551668),
 (167, 'E 70th St & York Ave', 40.765554, -73.9547034),
 (168, 'E 71st St & York Ave', 40.7661805, -73.9542449),
 (169, 'E 72nd St & York Ave', 40.7668593, -73.9537482),
 (170, 'E 73rd St & York Ave', 40.7675414, -73.953249),
 (171, 'E 74th St & York Ave', 40.7681847, -73.9527843),
 (172, 'E 75th St & York Ave', 40.7688236, -73.9523229),
 (173, 'E 76th St & York Ave', 40.7694634, -73.9518607),
 (174, 'E 77th St & York Ave', 40.7700762, -73.9514149),
 (175, 'E 78th St & York Ave', 40.7707103, -73.9509381),
 (176, 'E 79th St & York Ave', 40.7714021, -73.9504368),
 (177, 'E 80th St & York Ave', 40.7720657, -73.9499424),
 (178, 'E 81st St & York Ave', 40.7726941, -73.9494862),
 (179, 'E 82nd St & York Ave', 40.773343, -73.9490092),
 (180, 'E 83rd St & York Ave', 40.7739762, -73.9485506),
 (181, 'E 84th St & York Ave', 40.7746141, -73.9480817),
 (182, 'E 85th St & York Ave', 40.7752458, -73.9476241),
 (183, 'E 86th St & York Ave', 40.775929, -73.947122),
 (184, 'E 87th St & York Ave', 40.7766012, -73.9466301),
 (185, 'E 88th St & York Ave', 40.7772273, -73.9461727),
 (186, 'E 89th St & York Ave', 40.7778572, -73.9457131),
 (187, 'E 90th St & York Ave', 40.7784828, -73.9452574),
 (188, 'E 91st St & York Ave', 40.779146, -73.9447758),
 (189, 'E 92nd St & York Ave', 40.7797706, -73.9443355),
 (190, 'Columbus Ave & W 78th St', 40.7812676, -73.9759823),
 (191, 'Amsterdam Ave & W 78th St', 40.7824641, -73.9788209),
 (192, 'Broadway & W 78th St', 40.7832069, -73.9805809),
 (193, 'W 78th St & W End Ave', 40.7836714, -73.9816869),
 (194, 'Riverside Dr & W 78th St', 40.784357, -73.9833075),
 (195, 'Amsterdam Ave & W 180th St', 40.8474237, -73.9313827),
 (196, 'Audubon Ave & W 180th St', 40.848038, -73.932849),
 (197, 'St Nicholas Ave & W 180th St', 40.848626, -73.934239),
 (198, 'W 180th St & Wadsworth Ave', 40.849145, -73.935471),
 (199, 'Broadway & W 180th St', 40.849541, -73.936397),
 (200, 'Cabrini Blvd & W 181st St', 40.8513418, -73.9402247),
 (201, 'Cabrini Blvd & W 187th St', 40.8556043, -73.9379223),
 (202, 'E 17th St & Union Sq W', 40.7371276, -73.9903368),
 (203, 'Broadway & E 18th St', 40.7378014, -73.9901312),
 (204, 'Broadway & E 19th St', 40.7384888, -73.9899514),
 (205, 'Broadway & E 20th St', 40.739176, -73.9897657),
 (206, 'Broadway & E 21st St', 40.7398521, -73.989584),
 (207, 'Broadway & E 22nd St', 40.7405826, -73.9893518),
 (208, 'Broadway & E 23rd St', 40.7413644, -73.9891371),
 (209, '5th Ave & Broadway', 40.7422202, -73.9891049),
 (210, 'Broadway & W 25th St', 40.7430463, -73.9891667),
 (211, 'Broadway & W 26th St', 40.7438037, -73.9890293),
 (212, 'Broadway & W 27th St', 40.744533, -73.988869),
 (213, 'Broadway & W 28th St', 40.745286, -73.988729),
 (214, 'Broadway & W 30th St', 40.7468087, -73.9884802),
 (215, 'Broadway & W 31st St', 40.7475512, -73.9883321),
 (216, 'Broadway & W 35th St', 40.7506917, -73.9878136),
 (217, 'Broadway & W 36th St', 40.751444, -73.9876732),
 (218, 'Broadway & W 37th St', 40.7521844, -73.9875229),
 (219, 'Broadway & W 38th St', 40.7528998, -73.9873181),
 (220, 'Broadway & W 39th St', 40.7536275, -73.9871097),
 (221, 'Broadway & W 40th St', 40.7543309, -73.9868863),
 (222, 'Broadway & W 41st St', 40.7550505, -73.9866586),
 (223, 'Broadway & W 42nd St', 40.7558137, -73.9864171),
 (224, 'Broadway & W 43rd St', 40.7565989, -73.9861943),
 (225, 'Broadway & W 44th St', 40.7572592, -73.9858201),
 (226, '7th Ave & W 45th St', 40.7579634, -73.9855335),
 (227, 'Broadway & W 46th St', 40.7586863, -73.9853225),
 (228, 'Broadway & W 47th St', 40.7593949, -73.9850691),
 (229, 'Broadway & W 48th St', 40.7601058, -73.9848067),
 (230, 'Broadway & W 49th St', 40.7607802, -73.9844587),
 (231, 'Broadway & W 50th St', 40.7614293, -73.9840461),
 (232, 'Broadway & W 51st St', 40.7620648, -73.9836282),
 (233, 'Broadway & W 52nd St', 40.7627053, -73.9832172),
 (234, 'Broadway & W 53rd St', 40.7633546, -73.9828256),
 (235, 'Broadway & W 54th St', 40.764037, -73.9824772),
 (236, 'Broadway & W 55th St', 40.7647366, -73.9822148),
 (237, 'Broadway & W 56th St', 40.7654522, -73.9819937),
 (238, 'Broadway & W 57th St', 40.766287, -73.981848),
 (239, 'Broadway & W 58th St', 40.7671189, -73.9817098),
 (240, 'Battery Pl & Broadway', 40.7046327, -74.0142203),
 (241, 'Broadway & Morris St', 40.7058713, -74.0132406),
 (242, 'Broadway & Exchange Aly', 40.706767, -74.012508),
 (243, 'Broadway & Rector St', 40.707452, -74.011947),
 (244, 'Broadway & Wall St', 40.7077665, -74.011695),
 (245, 'Broadway & Pine St', 40.708304, -74.011248),
 (246, 'Broadway & Cedar St', 40.708797, -74.010846),
 (247, 'Broadway & Maiden Ln', 40.709806, -74.009988),
 (248, 'Broadway & Dey St', 40.710413, -74.009474),
 (249, 'Broadway & Fulton St', 40.710887, -74.009063),
 (250, 'Broadway & Vesey St', 40.7113899, -74.0086338),
 (251, 'Broadway & Reade St', 40.7146812, -74.0058865),
 (252, 'Broadway & Duane St', 40.715236, -74.00542),
 (253, 'Broadway & Thomas St', 40.71576, -74.004976),
 (254, 'Broadway & Worth St', 40.7162869, -74.0045303),
 (255, 'Broadway & Leonard St', 40.716871, -74.004026),
 (256, 'Broadway & Franklin St', 40.717449, -74.003533),
 (257, 'Broadway & White St', 40.7180338, -74.003043),
 (258, 'Broadway & Walker St', 40.7186389, -74.0025285),
 (259, 'Broadway & Canal St', 40.7194058, -74.0018769),
 (260, 'Broadway & Howard St', 40.719938, -74.001425),
 (261, 'Broadway & Gr& St', 40.7208634, -74.0006449),
 (262, 'Broadway & Broome St', 40.7217891, -73.9998554),
 (263, 'Broadway & Spring St', 40.723021, -73.998812),
 (264, 'Broadway & Prince St', 40.724235, -73.997785),
 (265, 'Broadway & E Houston St', 40.7255012, -73.9967146),
 (266, 'Bond St & Broadway', 40.727211, -73.99527),
 (267, 'Broadway & W 3rd St', 40.7278266, -73.9947496),
 (268, 'Broadway & E 4th St', 40.728412, -73.994252),
 (269, 'Broadway & Washington Pl', 40.729008, -73.993747),
 (270, 'Broadway & Waverly Pl', 40.72958, -73.993262),
 (271, 'Astor Pl & Broadway', 40.730079, -73.992841),
 (272, 'Broadway & E 8th St', 40.7306011, -73.9923997),
 (273, 'Broadway & E 9th St', 40.731166, -73.991921),
 (274, 'Broadway & E 10th St', 40.7317445, -73.9914619),
 (275, 'Broadway & E 11th St', 40.732449, -73.991289),
 (276, 'Broadway & E 12th St', 40.733214, -73.991114),
 (277, 'Broadway & E 13th St', 40.733978, -73.990945),
 (278, 'Broadway & E 14th St', 40.7347938, -73.9907171),
 (279, 'Beaver St & Broadway', 40.7045884, -74.013276),
 (280, 'Broadway & W 60th St', 40.7689456, -73.9822067),
 (281, 'Broadway & W 62nd St', 40.7706087, -73.9822655),
 (282, 'Broadway & W 63rd St', 40.7714459, -73.9822732),
 (283, 'Broadway & Columbus Ave', 40.7726498, -73.9822961),
 (284, 'Broadway & W 66th St', 40.7739304, -73.9823484),
 (285, 'Broadway & W 67th St', 40.7747352, -73.982312),
 (286, 'Broadway & W 68th St', 40.7755451, -73.9822819),
 (287, 'Broadway & W 69th St', 40.7763503, -73.9822502),
 (288, 'Broadway & W 70th St', 40.7771407, -73.982225),
 (289, 'Broadway & W 72nd St', 40.7787921, -73.9820581),
 (290, 'Broadway & W 73rd St', 40.7795997, -73.9818489),
 (291, 'Broadway & W 74th St', 40.7803332, -73.9816348),
 (292, 'Broadway & W 75th St', 40.7810582, -73.9814257),
 (293, 'Broadway & W 76th St', 40.7818019, -73.9811764),
 (294, 'Broadway & W 77th St', 40.7825164, -73.9809212),
 (295, 'Broadway & W 79th St', 40.783893, -73.9800838),
 (296, 'Broadway & W 81st St', 40.7852008, -73.9791229),
 (297, 'Broadway & W 82nd St', 40.7858192, -73.9786487),
 (298, 'Broadway & W 83rd St', 40.7864652, -73.9781723),
 (299, 'Broadway & W 85th St', 40.7876892, -73.9771797),
 (300, 'Broadway & W 86th St', 40.7883609, -73.9766072),
 (301, 'Broadway & W 87th St', 40.788995, -73.9760614),
 (302, 'Broadway & W 88th St', 40.7896182, -73.9755987),
 (303, 'Broadway & W 90th St', 40.7908742, -73.9746797),
 (304, 'Broadway & W 91st St', 40.7915093, -73.974213),
 (305, 'Broadway & W 92nd St', 40.7921407, -73.9737576),
 (306, 'Broadway & W 93rd St', 40.792771, -73.9732956),
 (307, 'Broadway & W 94th St', 40.7933947, -73.9728492),
 (308, 'Broadway & W 95th St', 40.794038, -73.9724164),
 (309, 'Broadway & W 96th St', 40.7947101, -73.9719192),
 (310, 'Broadway & W 97th St', 40.7953622, -73.9714107),
 (311, 'Broadway & W 98th St', 40.7959957, -73.9709211),
 (312, 'Broadway & W 99th St', 40.7966222, -73.9704634),
 (313, 'Broadway & W 100th St', 40.7972533, -73.9700079),
 (314, 'Broadway & W 101st St', 40.7978702, -73.9695717),
 (315, 'Broadway & W 102nd St', 40.7985082, -73.9691157),
 (316, 'Broadway & W 103rd St', 40.7991422, -73.9686501),
 (317, 'Broadway & W 104th St', 40.7998293, -73.9683196),
 (318, 'Broadway & W 105th St', 40.8005442, -73.9680997),
 (319, 'Broadway & W 107th St', 40.8022513, -73.9679079),
 (320, 'Broadway & W 109th St', 40.8036112, -73.9672429),
 (321, 'Broadway & Cathedral Pkwy', 40.8042094, -73.966794),
 (322, 'Broadway & W 112th St', 40.8054904, -73.9658601),
 (323, 'Broadway & W 113th St', 40.8061176, -73.9654027),
 (324, 'Broadway & W 114th St', 40.8067455, -73.9649464),
 (325, 'Broadway & W 115th St', 40.8073825, -73.9644822),
 (326, 'Broadway & W 121st St', 40.8112589, -73.9616861),
 (327, 'Broadway & Tiemann Pl', 40.8151825, -73.9588379),
 (328, 'Broadway & W 125th St', 40.8158075, -73.9583909),
 (329, 'Broadway & W 135th St', 40.8201687, -73.9552062),
 (330, 'Broadway & W 141st St', 40.8239402, -73.9524477),
 (331, 'Broadway & W 142nd St', 40.8245785, -73.9519855),
 (332, 'Broadway & W 143rd St', 40.8251983, -73.9515358),
 (333, 'Broadway & W 144th St', 40.8258119, -73.9510825),
 (334, 'Broadway & W 145th St', 40.8264958, -73.9505823),
 (335, 'Broadway & W 146th St', 40.8271631, -73.9500994),
 (336, 'Broadway & W 147th St', 40.8277858, -73.9496453),
 (337, 'Broadway & W 148th St', 40.8284141, -73.949184),
 (338, 'Broadway & W 149th St', 40.8290241, -73.9487404),
 (339, 'Broadway & W 150th St', 40.8296535, -73.9482817),
 (340, 'Broadway & W 151st St', 40.8302751, -73.9478285),
 (341, 'Broadway & W 152nd St', 40.8309006, -73.9473687),
 (342, 'Broadway & W 153rd St', 40.8315246, -73.9469124),
 (343, 'Broadway & W 155th St', 40.8328285, -73.9459609),

In [188]:
for tup in int_list:
    %sql INSERT INTO intersections VALUES tup

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite

(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///safe_cycle_db.sqlite
   sqlite:///testdb.sqlite
(sqlite3.OperationalError) near "tup": syntax error [SQL: 'INSERT INTO intersections VALUES tup'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [61]:
hump_df.head()

,on_st,the_geom,to_st,from_st,new_humps,date_insta,Shape_Leng,date,lines
0,1 STREET,MULTILINESTRING ((-73.9799168591299 40.6728580...,7 AVENUE,6 AVENUE,2,05/22/2014 12:00:00 AM +0000,775.659477,2014-05-22,(LINESTRING (-73.9799168591299 40.672858023374...
1,1 STREET,MULTILINESTRING ((-73.99294738655144 40.678995...,BOND STREET,HOYT STREET,2,09/11/2017 12:00:00 AM +0000,652.150192,2017-09-11,(LINESTRING (-73.99294738655144 40.67899544181...
2,100 AVENUE,MULTILINESTRING ((-73.73560306475389 40.714945...,SPRINGFIELD BL.,100 DR./220 STREET,1,12/15/2011 12:00:00 AM +0000,423.930065,2011-12-15,(LINESTRING (-73.73560306475389 40.71494534147...
3,100 ST,MULTILINESTRING ((-74.03364741744534 40.612833...,FT HAMILTON PKWY,FOURTH AVE,1,08/01/1996 12:00:00 AM +0000,591.886182,1996-08-01,(LINESTRING (-74.03364741744534 40.61283324315...
4,100 Street,MULTILINESTRING ((-73.86848374851515 40.757334...,34TH Avenue,Northern Boulevard,1,06/17/2004 12:00:00 AM +0000,673.502404,2004-06-17,(LINESTRING (-73.86848374851515 40.75733493687...

In [121]:
def get_bumps(hump_df, int_df):
    
    int_df['speed_bumps'] = list(zip(np.zeros(int_df['coord'].shape),np.zeros(int_df['coord'].shape)))
    
    for ix in hump_df.index:
        multi = hump_df.loc[ix]['lines']
        num_bumps = hump_df.loc[ix]['new_humps']
        date = hump_df.loc[ix]['date']
        locs = int_df[int_df['loc'].map(lambda x: multi.distance(x) < .0001)].index
        int_df.at[locs,'speed_bumps'] = int_df.loc[locs]['speed_bumps'].map(lambda x: (x[0] + num_bumps, date) )
        
    return int_df

In [122]:
hump_df.drop(hump_df[hump_df['the_geom'].str.contains('EMPTY')].index,inplace=True)
hump_df[hump_df['the_geom'].str.contains('EMPTY')]

Empty DataFrame
Columns: [on_st, the_geom, to_st, from_st, new_humps, date_insta, Shape_Leng, date, lines]
Index: []

In [125]:
signals_df = get_bumps(hump_df,signals_df)
len(signals_df[signals_df['speed_bumps'] != (0.0,0.0)])

1569

In [132]:
def get_line_feature(feature_df, int_df, feat_type):
    
    int_df[feat_type] = list(zip(np.zeros(int_df['coord'].shape),np.zeros(int_df['coord'].shape)))
    
    feature_df['lines'] = feature_df['the_geom'].map(lambda x: loads(x))
    
    for ix in feature_df.index:
        multi = feature_df.loc[ix]['lines']
        if feat_type in []:
            num_feat = hump_df.loc[ix]['']
        else:
            num_feat = 1
        date = feature_df.loc[ix]['ENFORCEMEN']
        locs = int_df[int_df['loc'].map(lambda x: multi.distance(x) < .0001)].index
        int_df.at[locs,feat_type] = int_df.loc[locs][feat_type].map(lambda x: (x[0] + num_feat, date) )
        
    return int_df

In [133]:
art_slowzone_df = pd.read_csv('dot_VZV_Arterial_Slow_Zones_20190604.csv')
art_slowzone_df.head()

,FROM_STREE,ENFORCEMEN,TO_STREET,the_geom,Shape_Leng
0,Columbia St,05/19/2014 12:00:00 AM +0000,76 St,MULTILINESTRING ((-73.89867564098704 40.675582...,80344.034362
1,E 140th St,05/19/2014 12:00:00 AM +0000,Mosholu Parkway,MULTILINESTRING ((-73.92988099693609 40.813040...,76627.888146
2,40 Rd,06/02/2014 12:00:00 AM +0000,114 St,MULTILINESTRING ((-73.93474259188893 40.750979...,22288.089025
3,Freeman St,06/02/2014 12:00:00 AM +0000,Bayard St,MULTILINESTRING ((-73.94499614744701 40.720773...,11108.542243
4,Jerome Ave,06/09/2014 12:00:00 AM +0000,NE Thrwy SB,MULTILINESTRING ((-73.881244225275 40.88270963...,15702.229781

In [139]:
signals_df = get_line_feature(art_slowzone_df,signals_df, 'art_slowzone')

In [140]:
len(signals_df[signals_df['art_slowzone'] != (0.0,0.0)])

1314

In [143]:
signals_df.to_pickle('signals_df_speedbump_artSZ.pkl')

In [156]:
def get_line_feature_3(feature_df, int_df, feat_type):
    
    int_df[feat_type] = list(zip(np.zeros(int_df['coord'].shape),np.zeros(int_df['coord'].shape)))
    
    feature_df['lines'] = feature_df['the_geom'].map(lambda x: loads(x))
    
    for ix in feature_df.index:
        multi = feature_df.loc[ix]['lines']
        if feat_type in []:
            num_feat = hump_df.loc[ix]['']
        else:
            num_feat = 1
        date = feature_df.loc[ix]['date']
        locs = int_df[int_df['loc'].map(lambda x: multi.distance(x) < .0001)].index
        int_df.at[locs,feat_type] = int_df.loc[locs][feat_type].map(lambda x: (x[0] + num_feat, date) )
        
    return int_df

In [153]:
signal_timing_df = pd.read_csv('dot_VZV_Signal_Timing_20190604.csv')
print(len(signal_timing_df))
signal_timing_df['date'] = signal_timing_df['YR'].map(lambda x: datetime.datetime.strptime(str(x),'%Y'))

206

In [157]:
signals_df = get_line_feature_3(signal_timing_df,signals_df,'signal_timing')

In [159]:
len(signals_df[signals_df['signal_timing']!= (0.0,0.0)])

3703

In [160]:
signals_df.head()

,intersection,lat,lon,coord,loc,speed_bumps,art_slowzone,signal_timing
0,Central Park W & W 106th St,40.7980486,-73.9600434,"(-73.9600434, 40.7980486)",POINT (-73.9600434 40.7980486),"(0.0, 0.0)","(0.0, 0.0)","(1.0, 2018-01-01 00:00:00)"
1,Manhattan Ave & W 106th St,40.798645,-73.9614743,"(-73.9614743, 40.798645)",POINT (-73.96147430000001 40.798645),"(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)"
2,Columbus Ave & W 106th St,40.7992545,-73.962886,"(-73.962886, 40.7992545)",POINT (-73.962886 40.7992545),"(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)"
3,Amsterdam Ave & W 106th St,40.8004313,-73.9657046,"(-73.9657046, 40.8004313)",POINT (-73.9657046 40.8004313),"(0.0, 0.0)","(1.0, 11/17/2014 12:00:00 AM +0000)","(2.0, 2017-01-01 00:00:00)"
4,Broadway & W 106th St,40.8014007,-73.9679942,"(-73.9679942, 40.8014007)",POINT (-73.96799420000001 40.8014007),"(0.0, 0.0)","(1.0, 08/04/2014 12:00:00 AM +0000)","(0.0, 0.0)"

In [166]:
for s in signal_timing_df['OnStreet'].unique():
    if s[:2] == '10':
        print(s)

10 Avenue
104 ST

In [167]:
signals_df.to_pickle('signals_df_speedbump_artSZ_sigtiming.pkl')

In [67]:
import matplotlib.path as mplPath
import numpy as np

poly = [190, 50, 500, 310]
bbPath = mplPath.Path(np.array([[poly[0], poly[1]],
                     [poly[1], poly[2]],
                     [poly[2], poly[3]],
                     [poly[3], poly[0]]]))

bbPath.contains_point((200, 100))

True